In [ ]:
# SQL Agent Example
# 
# This notebook demonstrates how to use the SQL Agent for natural language database interactions.
# The SQL Agent can convert natural language queries into SQL operations and return results in plain English.

import os
import sqlite3

# Set your OpenAI API key
os.environ["OPENAI_API_KEY"] = "your_openai_api_key_here"

In [2]:
import requests

url = "https://storage.googleapis.com/benchmarks-artifacts/chinook/Chinook.db"

response = requests.get(url)

if response.status_code == 200:
    # Open a local file in binary write mode
    with open("Chinook.db", "wb") as file:
        # Write the content of the response (the file) to the local file
        file.write(response.content)
    print("File downloaded and saved as Chinook.db")
else:
    print(f"Failed to download the file. Status code: {response.status_code}")

File downloaded and saved as Chinook.db

In [3]:
# Quick Example - Set up and ask a simple question
from uuid import uuid4
from sql_agent.database import SQLDatabase
from sql_agent.agent import SQLAgent


async def quick_example():
    # Create database connection and agent
    db = SQLDatabase("sqlite:///Chinook.db")  
    uuid = uuid4()
    agent = SQLAgent(db, str(uuid))
    
    # Ask a simple question
    response = await agent.run("How many customers do we have in total?")
    response = await agent.run("How much is that multipled by 2?")
    return response
    
# Run the example
response = await quick_example()

In [4]:
response.response

'The total number of customers multiplied by 2 is 118.'

In [5]:
response.history

[{'role': 'system',
  'content': 'system_prompt = """\nYou are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct query to run,\nthen look at the results of the query and return the answer. Unless the user\nspecifies a specific number of examples they wish to obtain, always limit your\nquery to at most 5 results.\n\nYou can order the results by a relevant column to return the most interesting\nexamples in the database. Never query for all the columns from a specific table,\nonly ask for the relevant columns given the question.\n\nYou MUST double check your query before executing it. If you get an error while\nexecuting a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the\ndatabase.\n\nTo start you should ALWAYS look at the tables in the database to see what you\ncan query. Do NOT skip this step.\n\nThen you should query the schema of the most relevant tables.\n""'},
 {'role': 'user', 'content': 'How many customers do we have in total?'},
 {'role': 'assistant',
  'tool_calls': [{'id': 'call_ctYWbiCSO8GMzLIAoyFFLp5H',
    'function': {'arguments': '{"empty_input":""}',
     'name': 'sql_db_list_tables'},
    'type': 'function'}]},
 {'role': 'tool',
  'tool_call_id': 'call_ctYWbiCSO8GMzLIAoyFFLp5H',
  'content': 'Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track'},
 {'role': 'assistant',
  'tool_calls': [{'id': 'call_cSIb0xfv2Jn8NE18dbNaZnOJ',
    'function': {'arguments': '{"tables":"Customer"}',
     'name': 'sql_db_schema'},
    'type': 'function'}]},
 {'role': 'tool',
  'tool_call_id': 'call_cSIb0xfv2Jn8NE18dbNaZnOJ',
  'content': '\nTable: Customer\nColumns:\n  - CustomerId: INTEGER NOT NULL\n  - FirstName: NVARCHAR(40) NOT NULL\n  - LastName: NVARCHAR(20) NOT NULL\n  - Company: NVARCHAR(80) NULL\n  - Address: NVARCHAR(70) NULL\n  - City: NVARCHAR(40) NULL\n  - State: NVARCHAR(40) NULL\n  - Country: NVARCHAR(40) NULL\n  - PostalCode: NVARCHAR(10) NULL\n  - Phone: NVARCHAR(24) NULL\n  - Fax: NVARCHAR(24) NULL\n  - Email: NVARCHAR(60) NOT NULL\n  - SupportRepId: INTEGER NULL\n\nSample rows:\nCustomerId | FirstName | LastName | Company | Address | City | State | Country | PostalCode | Phone | Fax | Email | SupportRepId\n--------------------------------------------------------------------------------------------------------------------------------\n1 | Luís | Gonçalves | Embraer - Empresa Brasileira de Aeronáutica S.A. | Av. Brigadeiro Faria Lima, 2170 | São José dos Campos | SP | Brazil | 12227-000 | +55 (12) 3923-5555 | +55 (12) 3923-5566 | luisg@embraer.com.br | 3\n2 | Leonie | Köhler | NULL | Theodor-Heuss-Straße 34 | Stuttgart | NULL | Germany | 70174 | +49 0711 2842222 | NULL | leonekohler@surfeu.de | 5\n3 | François | Tremblay | NULL | 1498 rue Bélanger | Montréal | QC | Canada | H2G 1A7 | +1 (514) 721-4711 | NULL | ftremblay@gmail.com | 3'},
 {'role': 'assistant',
  'tool_calls': [{'id': 'call_kQETFLbE1BTi1OcC29v0JOVk',
    'function': {'arguments': '{"query":"SELECT COUNT(CustomerId) AS TotalCustomers FROM Customer;"}',
     'name': 'sql_db_query_checker'},
    'type': 'function'}]},
 {'role': 'tool',
  'tool_call_id': 'call_kQETFLbE1BTi1OcC29v0JOVk',
  'content': '✓ Query syntax is valid.'},
 {'role': 'assistant',
  'tool_calls': [{'id': 'call_vFm4bBn3n0m62CxikOkxCCmn',
    'function': {'arguments': '{"query":"SELECT COUNT(CustomerId) AS TotalCustomers FROM Customer;"}',
     'name': 'sql_db_query'},
    'type': 'function'}]},
 {'role': 'tool',
  'tool_call_id': 'call_vFm4bBn3n0m62CxikOkxCCmn',
  'content': 'TotalCustomers\n--------------\n59'},
 {'role': 'assistant',
  'content': 'There are a total of 59 customers in the database.'},
 {'role': 'user', 'content': 'How much is that multipled by 2?'},
 {'role': 'assistant',
  'tool_calls': [{'id': 'call_pGRQXfpJt6L7tfgrJ6etcUWH',
    'function': {'arguments': '{"query":"SELECT COUNT(CustomerId) * 2 AS TotalCustomersTimesTwo FROM Customer;"}',
     'name': 'sql_db_query_checker'},
    'type': 'function'}]},
 {'role': 'tool',
  'tool_call_id': 'call_pGRQXfpJt6L7tfgrJ6etcUWH',
  'content': '✓ Query syntax is valid.'},
 {'role': 'assistant',
  'tool_calls': [{'id': 'call_ui0RaSRavOAvAzSB8i1OgqHz',
    'function': {'arguments': '{"query":"SELECT COUNT(CustomerId) * 2 AS TotalCustomersTimesTwo FROM Customer;"}',
     'name': 'sql_db_query'},
    'type': 'function'}]},
 {'role': 'tool',
  'tool_call_id': 'call_ui0RaSRavOAvAzSB8i1OgqHz',
  'content': 'TotalCustomersTimesTwo\n----------------------\n118'},
 {'role': 'assistant',
  'content': 'The total number of customers multiplied by 2 is 118.'}]